@page
@model IndexModel
@inject WebShopProject.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<h1>Välkommen, @accessControl.LoggedInAccountName!</h1>

<a asp-page="/Products">Products</a>

