@page
@model IndexModel
@inject WebShopProject.Data.AccessControl accessControl
@{
	ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home-Page</title>
	<link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
	<div id="home-page-container">
		<h1>Välkommen till Swedish Prepper Shop, @accessControl.LoggedInAccountName!</h1>
		<p>Vi erbjuder ett brett sortiment av produkter för dig som vill vara förberedd på det mesta.</p>
		<p>Vi har allt från mat och vatten till verktyg och skyddsutrustning.</p>
		<img id="home-page-logo" src="~/images/PrepperLogo.png" alt="Swedish Prepper Shop logo" />

		<a asp-page="./Products" class="btn btn-primary">Klicka här för att komma till våra produkter!</a>
	</div>
</body>
