@page
@model WebShop.Pages.OrderSummaryModel

<!DOCTYPE html>
<html>
<head>
    <title>Order Summay</title>
</head>
<body>
    <h1>Ordersummering</h1>
    <p>Nedan finner du en lista på dina valda produkter:</p>
    <p</p>
    <p>Totalsumma för beställningen: @Model.TotalPrice</p>


    <h2>Valda produkter:</h2>
    <ul>
        @foreach (var product in Model.Cart)
        {
            <li>@product.Name - @product.Price.ToString("C0")</li>
        }
    </ul>

    <a asp-page="./OrderConfirmation" class="btn btn-primary">Köp</a>
    <a asp-page="/Products" class="btn btn-primary">Tillbaka till söksidan</a>

</body>
</html>