@page
@model WebShop.Pages.OrderConfirmationModel
@using WebShopProject.Models

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Order Confirmation</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="order-confirmation">
    <h1>Orderbekräftelse</h1>
   


    <h2>Beställda produkter:</h2>
    <ul>
        @foreach (var cartItem in Model.Cart.CartItems)
        {
            <li>
                @cartItem.Product.Name - Pris/st: @cartItem.Product.Price.ToString("C0") - Antal: @cartItem.Quantity
            </li>
        }
    </ul>
    
    <p>Totalsumma för beställningen: @Model.TotalPrice.ToString("C0")</p>
    <p>Tack för din beställning!</p>

        <form method="post" asp-page-handler="EmptyCart">
            <button type="submit">Tillbaka till startsidan</button>
        </form>
    </div>
</body>
</html>