@page
@model WebShopProject.Pages.ProductsModel
@using WebShopProject.Models
@{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>
        <link rel="stylesheet" href="~/css/products.css" />
    </head>
      <body>
        <h1>Products</h1>
        <div class="products">
            @foreach (var product in Model.Products)
            {
                <div class="product-item">
                    <div class="product-image-container" title="@product.Description">
                        <img src="~/images/@product.ImagePath" alt="@product.Name" class="product-image" />
                    </div>
                    <div class="product-details">
                        <h4 class="product-name">@product.Name</h4>
                        <p class="product-price">@product.Price :-</p>
                    </div>
                </div>
            }
        </div>
      </body>
    </html>
}
