@page
@model WebShopProject.Pages.ProductDetailsModel
@using WebShopProject.Models
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="~/css/products.css" />
</head>
<body>
    <h1>Product Details</h1>
    <div class="product-details">
    <h2>@Model.Product.Name</h2>
    <p>Description: @Model.Product.Description</p>
    <p>Price: @Model.Product.Price</p>
    <img src="~/images/@Model.Product.ImagePath" alt="@Model.Product.Name" class=""/>
    </div>

</body>
</html>