.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    justify-content: center;
    margin-left: 10px;
    
}
.product-item {
    width: 250px;
    height: 300px;
    transition: transform 0.3s ease;
    background-color: white;
    margin: 5px;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product-image {
    height: 200px;
    width: 250px;
    background-color: white;
}
.product-details {
    margin: 2px;
    padding: 10px;
}
.product-name,
.product-price {
    margin: 0; 
    padding: 0;
}
.product-item:hover {
    transform: scale(1.1);
}

.product-image-container {
    position: relative;
}


#page-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
    #page-button-container a {
        width: 100px;
        background-color: white;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 4px;
        border: none;
        transition: all 0.5s;
        cursor: pointer;
        font-size: 15px;
        margin: 5px;
    }

        #page-button-container a:hover {
            background-color: black;
            color: white;
        }

    #page-button-container .btn {
        margin: 0 10px;
    }

    .product-item-link {
        text-decoration: none;
        color: black;
    }
#current-page-container {
    display: flex;
    justify-content: center;
}

