


body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    justify-content: center;
}
.product-item {
    width: 250px;
    height: 300px;
    transition: transform 0.3s ease;
    background-color: white;
    margin: 5px;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product-image {
    height: 200px;
    width: 250px;
    background-color: white;
}
.product-details {
    margin: 1px;
}
.product-price,
.product-description {
    margin: 0; 
    padding: 0;
}
.product-item:hover {
    transform: scale(1.1);
}

