body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, Montserrat, sans-serif;
    scroll-behavior: smooth;
}

h1 {
    display: flex;
    justify-content: center;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

a:hover, a:active {
    background-color: lightcoral;
}

button:hover {
    background-color: rgb(238, 145, 24)
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-details {
    display: flex;
    align-items: center; /* Center the content vertically */
    margin: 2px;
    padding: 10px;
}

    .product-details img {
        max-width: 250px; /* Set a maximum width for the image */
        max-height: 200px; /* Set a maximum height for the image */
        width: auto; /* Let the browser calculate the appropriate width based on the aspect ratio */
        height: auto; /* Let the browser calculate the appropriate height based on the aspect ratio */
        margin-right: 1rem; /* Add margin to the right for spacing */
    }

    .product-details li {
        list-style: none;
        padding: 5px;
    }

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    justify-content: center;
    margin-left: 10px;
}

    .products .product-details {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

.product-item {
    width: 250px;
    height: 300px;
    transition: transform 0.3s ease;
    margin: 5px;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-image {
    height: 200px;
    width: 250px;
}

.product-name,
.product-price {
    margin: 0;
    padding: 0;
}

.product-item:hover {
    transform: scale(1.1);
}

.product-image-container {
    position: relative;
}

#page-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

    #page-button-container a {
        width: 100px;
        background-color: white;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 4px;
        border: none;
        transition: all 0.5s;
        cursor: pointer;
        font-size: 15px;
        margin: 5px;
    }

        #page-button-container a:hover {
            background-color: black;
            color: white;
        }

    #page-button-container .btn {
        margin: 0 10px;
    }

.product-item-link {
    text-decoration: none;
    color: black;
}

#current-page-container {
    display: flex;
    justify-content: center;
}

.shopping-cart img {
    height: 50px;
    width: 75px;
}

.shopping-cart-buttons-container {
    display: flex;
    align-content: center;
    margin-top: 10px;
}

    .shopping-cart-buttons-container button {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        border: none;
        height: 47.2px;
        margin-right: 10px;
    }

        .shopping-cart-buttons-container button:hover {
            background-color: lightcoral;
        }
