body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, Montserrat, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: rgb(238, 145, 24)
}